body {
  margin: 0;
  font-family: "Noto Sans", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  min-height: 100vh;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  --primary: #171717;
  --secondary: #525252;
  --success-subtle: #f0fdf4;
  --success-text: #15803d;
  --success-border: #bbf7d0;

  --brand: #4338ca;
}

* {
  box-sizing: border-box;
}

body {
  background: linear-gradient(to bottom, #f9fafb 0%, #d2d6db 100%);
}

.credits {
  color: #777;
  position: fixed;
  bottom: 24px;
  left: 24px;
  font-size: 11px;
  text-align: center;
}

.credits a {
  color: #000;
  font-weight: bold;
}

p {
  margin: 0;
}

.blog-card {
  width: 340px;
  height: 504px;
  margin: 120px auto;
  border-radius: 8px;
  border-style: solid;
  border-width: 0.5px;
  box-shadow: 0px 1px 3px 0px #00000010;
  border-color: transparent;
}

.img-holder {
  position: relative;
}

.blog-card-image {
  width: 100%;
  height: 288px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  position: absolute;
  z-index: 1;
}

.img-loaded {
  z-index: 2;
}

.skeleton {
  animation: skeleton-loading 1s linear infinite alternate;
  width: 340px;
  height: 288px;
  position: absolute;
  z-index: 2;
}

@keyframes skeleton-loading {
  0% {
    background-color: #f7f4f2;
  }
  100% {
    background-color: #e0d9d5;
  }
}

.blog-card-details {
  position: relative;
  height: 216px;
  width: 100%;
  padding: 24px 16px;
  display: grid;
  gap: 12px;
  margin-top: 288px;
}

.tags {
  width: 67px;
  height: 24px;
  border-radius: 9999px;
  padding: 2px 8px;
  background-color: var(--success-subtle);
  color: var(--success-text);
  border: 1px solid var(--success-border);
  font-size: 14px;
}

.title {
  width: 100%;
  overflow: hidden;
  font-size: 18px;
  font-weight: 600;
  color: var(--primary);
}

.description {
  color: var(--secondary);
  height: 48px;
  overflow: hidden;
  font-weight: 500;
  font-size: 16px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
}

.button-link {
  margin-top: 12px;
  border: none;
  width: 114px;
  height: 24px;
  background-color: transparent;
  color: var(--brand);
  font-weight: 500;
  padding: 0;
  display: flex;
  align-items: center;
  gap: 6px;
  padding: 0 2px;
  text-decoration: none;
}

.right-arrow-icon {
  height: 20px;
  width: 20px;
  color: var(--brand);
}
